PORT=3001
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJ...service_role_key...
VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJ...anon/publishable_key...
APP_URL=http://squidslab.utopian.it:3004
EMAIL_FROM=noreply@kraken2shape.app
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_USER=
NODEMAILER_PASS=
